body {
  margin: 0;
  font-family: "SF Pro",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus{
  box-shadow: 0 0 0 3px rgb(245, 92, 41, 0.6) !important;
}
a:focus{
  box-shadow: 0 0 0 3px rgb(245, 92, 41, 0.6) !important;
}